### Завдання

1.Створіть датафрейм розміром 15х5, що містить наступні дані:

а) ім'я та прізвище студента;

б) середній бал;

в) оцінка за поточний екзамен;

г) кількість спроб здачі поточного екзамену.

2.Додайте до датафрейму стовпчик, що містить дані про допуск студента на наступний курс.

3.Виведіть мінімальний, максимальний, середній та медіанний показники середнього балу студентів.

4.Виведіть кількість студентів, що здали поточний екзамен з першого разу.

5.Збережіть будь-які дані з датафрейму у вигляді серії.

In [1]:
import pandas as pd

##### 1.Створіть датафрейм розміром 15х5

In [3]:
students_list = pd.read_excel("HW_32.xlsx")
students_list

,Iм'я та прізвище студента,Cередній бал,Оцінка за поточний екзамен,Кількість спроб здачі поточного екзамену
0,Бруй Ольга,11.2,11,1
1,Гамаля Михайло,10.8,11,1
2,Железняк Анастасія,8.1,5,2
3,Іванець Юрій,6.8,4,2
4,Колесник Тетяна,10.4,12,1
5,Корж Тарас,9.9,12,1
6,Мелащенко Олександр,6.2,5,3
7,Орлов Вадим,7.2,3,2
8,Пересенчук Олена,11.0,12,1
9,Пінчук Юлія,10.2,11,1
10,Попов Андрій,9.8,10,1
11,Сидоренко Галина,8.5,8,1
12,Тимошенко Наталія,7.1,5,3
13,Холоша Ігор,6.4,4,2
14,Ципишев Юрій,9.2,9,1

##### 2.Додайте до датафрейму стовпчик, що містить дані про допуск студента на наступний курс.

In [6]:
average_point = students_list["Cередній бал"].tolist()
pass_mark = []
for value in average_point:
    if value < 7:
        pass_mark.append(False)
    else:
        pass_mark.append(True)
students_list["Допуск"] = pass_mark
students_list

,Iм'я та прізвище студента,Cередній бал,Оцінка за поточний екзамен,Кількість спроб здачі поточного екзамену,Допуск
0,Бруй Ольга,11.2,11,1,True
1,Гамаля Михайло,10.8,11,1,True
2,Железняк Анастасія,8.1,5,2,True
3,Іванець Юрій,6.8,4,2,False
4,Колесник Тетяна,10.4,12,1,True
5,Корж Тарас,9.9,12,1,True
6,Мелащенко Олександр,6.2,5,3,False
7,Орлов Вадим,7.2,3,2,True
8,Пересенчук Олена,11.0,12,1,True
9,Пінчук Юлія,10.2,11,1,True
10,Попов Андрій,9.8,10,1,True
11,Сидоренко Галина,8.5,8,1,True
12,Тимошенко Наталія,7.1,5,3,True
13,Холоша Ігор,6.4,4,2,False
14,Ципишев Юрій,9.2,9,1,True

##### 3.Виведіть мінімальний, максимальний, середній та медіанний показники середнього балу студентів.

In [8]:
students_list["Cередній бал"].agg(['max', 'mean', 'min', 'median'])

max       11.200000
mean       8.853333
min        6.200000
median     9.200000
Name: Cередній бал, dtype: float64

In [10]:
students_list.groupby("Допуск")["Cередній бал"].agg(['max', 'mean', 'min', 'median'])

         max      mean  min  median
Допуск
False    6.8  6.466667  6.2    6.40
True    11.2  9.450000  7.1    9.85

##### 4.Виведіть кількість студентів, що здали поточний екзамен з першого разу.

In [23]:
len(students_list[students_list["Кількість спроб здачі поточного екзамену"] == 1])

9

In [25]:
students_list[students_list["Кількість спроб здачі поточного екзамену"] == 1]

,Iм'я та прізвище студента,Cередній бал,Оцінка за поточний екзамен,Кількість спроб здачі поточного екзамену,Допуск
0,Бруй Ольга,11.2,11,1,True
1,Гамаля Михайло,10.8,11,1,True
4,Колесник Тетяна,10.4,12,1,True
5,Корж Тарас,9.9,12,1,True
8,Пересенчук Олена,11.0,12,1,True
9,Пінчук Юлія,10.2,11,1,True
10,Попов Андрій,9.8,10,1,True
11,Сидоренко Галина,8.5,8,1,True
14,Ципишев Юрій,9.2,9,1,True

Отже 9 студентів здали поточний екзамен з першого разу

##### 5.Збережіть будь-які дані з датафрейму у вигляді серії.

In [28]:
print("Iм'я та прізвище студента")
list_st = students_list["Iм'я та прізвище студента"]
list_st

Iм'я та прізвище студента

0              Бруй Ольга
1          Гамаля Михайло
2      Железняк Анастасія
3            Іванець Юрій
4         Колесник Тетяна
5              Корж Тарас
6     Мелащенко Олександр
7             Орлов Вадим
8        Пересенчук Олена
9             Пінчук Юлія
10           Попов Андрій
11       Сидоренко Галина
12      Тимошенко Наталія
13            Холоша Ігор
14           Ципишев Юрій
Name: Iм'я та прізвище студента, dtype: object